NEXT_PUBLIC_SUPABASE_URL=https://lnvejgunigxciltildiz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_uT54FHD6QPnxLE08StBPUw_5zfqrl7Y
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Epa-0ZEZfAVNrBseo4tibA_-9LAWcOu
